// MAIN PAGE

@import '@/assets/variables';

.main-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 85vh;

  &__menu {
    display: block;
    width: 20%;
    margin-right: 0.5rem;
    box-sizing: border-box;
    background-color: $c-main-bg;
    border-radius: 1rem;
  }

  &__content {
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1rem;
    background-color: $c-main-bg;

  }
}