//-----font-family
$f-roboto: Roboto, sans-serif;


//-----breakpoint
$bt-desktop: 1024;
$br-table: 768;
$br-mobile: 320;


//----- color
$c-white: #ffff;
$c-black: #000000;
$c-ligth-gray: #e9e9e9;
$c-gray: #c0c0c0;
$c-green: #00CC00;
$c-red: #F80012;

$c-main-bg: #cec6f5;
$c-syper-light-blue: #8b8ddb;
$c-light-blue: #9d8ceb;
$c-blue: #575acb;
$c-dark-blue: #3d40c3;
