// NAV MENU

.nav-menu {
  width: 100%;
  padding: 9rem 1rem;
  box-sizing: border-box;


  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  &__text {
    display: flex;
    align-items: center;
    padding-left: 2rem;

    font-size: 2rem;
    font-weight: 400;
  }
}