@import '@/assets/variables.scss';

.friend-item {
  &__btn {
    background-color: rgba(28, 28, 28, 0);
    border: none;
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
      stroke: aqua;
      fill: red;
    }
  }
}