@import '@/assets/variables.scss';

.dialog-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  background-color: $c-blue;
  border: 1px solid $c-white;
  border-radius: 1rem;
  cursor: pointer;

  @media (hover:hover) {
    transition: border-color .15s, transform .2s;

    &:hover {
      border-color: transparent;
      transform: scale(1.02);
    }
  }


  &__photo {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }

  &__initials {
    margin: auto 0 auto 2rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}